:root {
    --primary-color: #8fc1e3;
    --secondary-color: #31708E;
    --tertiary-color: #f7f9fb;
    --quaternary-color: #5085a5;
    --fifth-color: #fbeec1;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
      text-decoration: none;
  }

  h2 {
      font-size: 2vw;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background: var(--primary-color);
    max-width: 100%;
  }

  header {
    padding: 10px 35px 10px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
  }
  header div {
      background-color: var(--quaternary-color);
      padding: 10px 20px 10px 50px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      place-self: center;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
    text-decoration: none;
  }

  header nav ul {
      display: inline-flex;
      padding: 1.5vw;
      list-style: none;
  }
  
  header ul li a {
      padding: 5px 45px;
      font-size: 1.75vw;
      line-height: 1.7;
      color: var(--tertiary-color);
  }

  .hero {
    background-image: url("https://images.pexels.com/photos/866351/pexels-photo-866351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .hero h2 {
      padding: 50px;
  }

  .subtitle {
    padding: 10px;
    top: 90%;
    right: 90%;
  }
  
  section {
    padding: 40px;
    display: flex;
  }

  .left-column {
    width: 25%;
    flex-wrap: wrap;
    text-align: right;
    padding: 0px 40px;
    border-right: 3px solid var(--quaternary-color);
  }
  
  .right-column {
    width: 75%;
    flex-wrap: wrap;
    padding: 0px 40px;
  }

  .first-section p {
      padding: 0px 0px 0px 15px;
      font-size: 1.4vw;
  }

  /*.second-section {
      height: 1700px;
  }
  */
  .big-image {
      position: relative;
  }

  .big-image img {
    height: auto;
    max-width: 100%;
    border: 3px solid var(--quaternary-color);
  }

  .small-images {
      display: flex;
      height: auto;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .image-positioning {
    position: relative;
    padding: 10px 0px;
    width: 50%;
  }

  .small-images img {
    min-height: 23vw;
    max-width: 100%;
    border: 3px solid var(--quaternary-color);
    background-size: contain;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
  }

  .image-text {
      font-size: 1.5vw;
  }

  .small-images-runbuddy {
    padding: 40px;
  }

  .second-section article {
    position: absolute;
    top: 60%;
    background-color: var(--quaternary-color);
    padding: 1vw 2vw;
  }

  #big-image-text {
    top: 75%;  
}




